# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atomatigit': 'atomatigit:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atomatigit'
      'submenu': [
        { 'label': 'Toggle', 'command': 'atomatigit:toggle' }
        { 'label': 'Next', 'command': 'atomatigit:next' }
      ]
    ]
  }
]
