# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atomatigit': 'atomatigit:show'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atomatigit'
      'submenu': [
        { 'label': 'Show', 'command': 'atomatigit:show' }
      ]
    ]
  }
]
