'.workspace':
  'cmd-alt-g': 'atomatigit:show'
  'cmd-alt-c': 'atomatigit:complete-commit'

'.atomatigit':
  'cmd-alt-g': 'atomatigit:close'

'.atomatigit .file-list-view, .atomatigit .branch-list-view, .atomatigit .commit-list-view':
  'down': 'atomatigit:next'
  'k': 'atomatigit:next'
  'up': 'atomatigit:previous'
  'i': 'atomatigit:previous'
  'escape': 'atomatigit:close'
  'b': 'atomatigit:branches'
  's': 'atomatigit:files'
  'l': 'atomatigit:commit_log'
  ':': 'atomatigit:git_command'
  'r': 'atomatigit:refresh'
  'shift-p': 'atomatigit:push'
  'f': 'atomatigit:fetch'

'.atomatigit .file-list-view':
  'shift-s': 'atomatigit:stage'
  'z': 'atomatigit:stash'
  'shift-z': 'atomatigit:stash_pop'
  'u': 'atomatigit:unstage'
  'enter': 'atomatigit:open'
  'tab': 'atomatigit:toggle-diff'
  'cmd-shift-z': 'atomatigit:show'
  'c': 'atomatigit:commit'
  'backspace': 'atomatigit:kill'

'.atomatigit .branch-list-view':
  'enter': 'atomatigit:checkout_branch'
  'c': 'atomatigit:create_branch'
  'backspace': 'atomatigit:kill_branch'

'.atomatigit .commit-list-view':
  'enter': 'atomatigit:reset_to_commit'
  'shift-enter': 'atomatigit:hard_reset_to_commit'

'.atomatigit .input.block .editor':
  'enter': 'atomatigit:input:newline'
  'shift-enter': 'core:confirm'
  'up': 'atomatigit:input:up'
  'down': 'atomatigit:input:down'
