'.workspace':
  'cmd-alt-g': 'atomatigit:show'

'.atomatigit':
  'cm-alt-g': 'atomatigit:close'

'.atomatigit .file-list-view':
  'down': 'atomatigit:next'
  'k': 'atomatigit:next'
  'up': 'atomatigit:previous'
  'i': 'atomatigit:previous'
  'escape': 'atomatigit:close'
  's': 'atomatigit:stage'
  'z': 'atomatigit:stash'
  'shift-z': 'atomatigit:stash_pop'
  'u': 'atomatigit:unstage'
  'enter': 'atomatigit:open'
  'tab': 'atomatigit:toggle_file_diff'
  'cmd-shift-z': 'atomatigit:show'
  'r': 'atomatigit:show'
  'c': 'atomatigit:commit'
  'k': 'atomatigit:kill'
  'shift-p': 'atomatigit:push'
  'b': 'atomatigit:branches'
  'g': 'atomatigit:git_command'

'.atomatigit .branch-list-view':
  'down': 'atomatigit:next'
  'k': 'atomatigit:next'
  'up': 'atomatigit:previous'
  'i': 'atomatigit:previous'
  'escape': 'atomatigit:close'
  'enter': 'atomatigit:checkout_branch'
  'c': 'atomatigit:create_branch'
  's': 'atomatigit:files'
  'f': 'atomatigit:fetch'
  'shift-p': 'atomatigit:push'
  'g': 'atomatigit:git_command'
