// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

// TODO: use variables at all.

.atomatigit {
  width: 400px;
  padding: 0px;
  border-left: 1px solid #999;
  background-color: #ddd;
  color: #555;
  .block-input {
    width: 370px;
    margin: 0px 15px;
    visibility: hidden;
    &.active {
      display: block;
      visibility: visible;
    }
  }
  .file-list-view {
    padding-bottom: 50px;
  }
  .file {
    .filename {
      padding: 5px;
      padding-left: 25px;
    }
    &.selected .filename {
      background-color: #AAA;
    }
    .diff {
      font-family: monospace;
      padding-left: 25px;
    }
  }
  h2 {
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
  }
  .branch-brief-view {
    text-align: right;
    padding: 20px;
    .name {
      margin: 0px;
      padding: 5px 0px;
      font-weight: bold;
    }
    .commit {
      font-style: italic;
      &.unpushed {
        color: #955;
      }
    }
  }
  &.focused {
    color: #222;
    background-color: #eee;
    .selected .filename {
      background-color: #6aa5e9;
    }
  }
}
