// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

// TODO: use variables at all.

.atomatigit {
  overflow: auto;
  width: 410px;
  padding: 0px;
  border-left: 1px solid #999;
  background-color: #ddd;
  color: #555;
  .hidden {
    display: none;
  }
  .block-input {
    width: 380px;
    margin: 0px 15px;
  }
  .file-list-view {
    padding-bottom: 50px;
  }
  .file {
    .filename {
      padding: 5px;
      padding-left: 25px;
    }
    &.selected .filename {
      background-color: #AAA;
    }
    .diff {
      font-family: monospace;
      padding-left: 25px;
      .addition {
        background-color: #9F9;
      }
      .subtraction {
        background-color: #F99;
      }
    }
  }
  h2 {
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
  }
  .branch-brief-view {
    padding: 5px;
    padding-left: 25px;
    &.selected {
      background-color: #aaa;
    }
    .name {
      display: inline-block;
      margin: 0px;
      font-weight: bold;
    }
    .commit {
      font-style: italic;
      display: inline-block;
      padding-left: 20px;
      &.unpushed {
        color: #955;
      }
    }
    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  }
  >.branch-brief-view {
    text-align: right;
    padding: 20px 20px 20px 20px;
    .name {
      display: block;
      font-size: 2em;
    }
    .commit {
      display: block;
    }
  }
  &.focused {
    color: #222;
    background-color: #eee;
    .selected .filename, .branch-brief-view.selected {
      background-color: #6aa5e9;
    }
  }
}
