// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atomatigit {
  width: 400px;
  padding: 0px;
  border-left: 1px solid #999;
  background-color: #eee;
  .file {
    padding: 5px;
    padding-left: 25px;
    &.selected {
      background-color: #6aa5e9
    }
  }
  h2 {
    padding-left: 15px;
    font-size: 1.2em;
    font-weight: bold;
  }
  .branch-brief-view {
    text-align: right;
    padding: 20px;
    .name {
      margin: 0px;
      padding: 5px 0px;
      font-weight: bold;
    }
    .commit {
      font-style: italic;
    }
  }
}
